cmake
dlib==19.24.2    
face_recognition   
setuptools
numpy==1.26.4
opencv-python
openai-whisper
elevenlabs
sounddevice
soundfile
openai-whisper
sounddevice
soundfile
SpeechRecognition
opencv-python
elevenlabs
pyobjc
webrtcvad