cmake
dlib==19.24.2
face_recognition   
setuptools
numpy==1.26.4
opencv-python
pygame
openai-whisper
elevenlabs
sounddevice
soundfile
openai-whisper
sounddevice
soundfile
SpeechRecognition
opencv-python
elevenlabs
pyobjc
webrtcvad
geocoder
langchain-community
openai
faiss_cpu
token
pyaudio
yt-dlp
python-vlc
