cmake
dlib==19.24.2    
face_recognition   
setuptools
numpy==1.26.4
opencv-python
openai-whisper
elevenlabs
sounddevice
soundfile
SpeechRecognition
pyobjc
webrtcvad
geocoder
langchain-community
langchain_openai
faiss_cpu
tiktoken
pyaudio
python-dotenv
pygame
